{{ define "main" -}}
<section class="bg-white :bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 :text-white"
      >
        Articles
      </h2>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      {{- range.Pages }}
      <div>
        <h1 class="text-xl hover:underline">
          <a href="{{.RelPermalink}}">{{.Title}}</a>
        </h1>
        <h3 class="font-bold text-slate-700">
          {{.Params.author}} • Semester {{.Params.semester}}
        </h3>
      </div>
      {{end}}
    </div>
  </div>
</section>

{{- end }}
