<nav class="flex items-center justify-between text-white p-5">
  <div class="flex justify-center items-center">
    <img class="mr-2.5 h-20 rounded-md" src="/images/logo1.png" />
    <div class="mr-5">
      <h2 class="m-0 text-black text-4xl font-bold hidden md:block">ITerno</h2>
    </div>
  </div>
  <ul class="list-none flex m-0 p-0">
    <li class="ml-0">
      <a class="text-black no-underline text-lg" href="/">Home</a>
    </li>
    <li class="ml-5">
      <a class="text-black no-underline text-lg" href="/blogs/">Articles</a>
    </li>
    <li class="ml-5">
      <a class="text-black no-underline text-lg" href="/poems/">Poems</a>
    </li>
    <li class="ml-5">
      <a class="text-black no-underline text-lg" href="/photos/">Photos</a>
    </li>
  </ul>
</nav>
