{{ define "main" }}

<div class="m-3 mt-24">
  <h1
    class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    The 2022 Digital Magazine
  </h1>
</div>

<div class="md:flex md: mt-16 md:px-16">
  <div class="flex flex-col items-center justify-center p-8 text-sm">
    <p class="text-center">
      Education has never been just about learning certain subjects and doing
      well in exams; rather it is a peek into the way of life and a powerful
      tool which can conquer great accomplishments. Our prestigious institution
      strives to shape a generation that is capable to take up on the challenges
      put forward by the modern world. We have always tried to inculcate
      divergent thinking and creativity among our students. The Digital magazine
      crafted by the Department of Information Technology will truly help unfold
      a wide spectrum of creative skills. The magazine is not only just a result
      of the strenuous efforts of the editorial board and students but also the
      committed and supportive management and staff. It is truly an achievement
      worth emulating. I offer my well wishes to the department and hope to see
      more of such contributions.
    </p>
    <div class="mt-10 flex items-center divide-x-2 divide-gray-500">
      <cite class="pr-3 font-bold text-gray-900">Mr. Who is this</cite>
      <cite class="pl-3 text-sm text-gray-500">Dean Academic</cite>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center p-8 text-sm">
    <p class="text-center">
      I am extremely proud to lead the Information Technology Department at Amal
      Jyothi College of Engineering. Our department is dedicated to providing
      students with the knowledge and skills necessary to succeed in the
      ever-evolving field of technology. Our faculty and staff work tirelessly
      to ensure that our students receive the best education possible and are
      well-prepared to tackle the challenges of the future. We are thrilled to
      introduce our IT department's first-ever digital magazine, XXXX. This
      magazine provides a platform for our students to showcase their creative
      potential and innovative thinking. The articles in this edition cover a
      wide range of topics, from academics to society and literature. I am
      confident that this magazine will not only inspire our students but also
      provide valuable insights for readers about the latest technology trends.
      We want to express my gratitude to the team that worked tirelessly to
      bring this magazine to life. From the student editor to each team member,
      their dedication and teamwork were truly impressive. This magazine would
      not have been possible without their hard work and commitment. I am
      excited to see what future editions of XXXX will bring and how our team
      will continue to collaborate to bring the best possible content to our
      readers.
    </p>
    <div class="mt-10 flex items-center divide-x-2 divide-gray-500">
      <cite class="pr-3 font-bold text-gray-900">Mr. Who is this</cite>
      <cite class="pl-3 text-sm text-gray-500">Dean Academic</cite>
    </div>
  </div>
</div>

{{ end }}
