{{ define "main" }}

<div class="m-3 mt-24">
  <h1
    class="text-center mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    The 2022 Digital Magazine
  </h1>

  <p class="text-center text-xl text-slate-600 mt-12">
    Want to get straight into it? Start with an article, poem or some beautiful
    photos
  </p>

  <div class="flex justify-center mt-10 text-xl text-slate-600">
    <a href="/blogs" class="underline mr-10 text-green-500">Ariticles</a>
    <a href="/poems" class="underline mr-10 text-red-600">Poems</a>
    <a href="/photos" class="underline mr-10 text-blue-600">Photos</a>
  </div>
</div>

<div class="m-10 mt-24 prose">
  <h1>Peek Inside</h1>

  <h3>In this page</h3>

  <ol>
    <li><a href="#">HOD's Message</a></li>
    <li><a href="#">Principles's Message</a></li>
    <li><a href="#">Dean Academics's Message</a></li>
    <li><a href="#">Student Board's Message</a></li>
    <li><a href="#">Meet the team!</a></li>
  </ol>

  <h3>Articles</h3>
  <ol>
    {{ range (where .Site.Pages "Type" "blogs") }} {{ range .Pages }}
    <li><a href="{{.RelPermalink}}">{{ .Title }}</a></li>
    {{ end }} {{ end }}
  </ol>

  <h3>Poems</h3>
  <ol>
    {{ range (where .Site.Pages "Type" "poems") }} {{ range .Pages }}
    <li><a href="{{.RelPermalink}}">{{ .Title }}</a></li>
    {{ end }} {{ end }}
  </ol>
</div>

<section class="bg-white dark:bg-gray-900 mt-16">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
    <figure class="max-w-screen-md mx-auto">
      <svg
        class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600"
        viewBox="0 0 24 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
          fill="currentColor"
        />
      </svg>
      <blockquote>
        <p class="text-2xl font-medium text-gray-900 dark:text-white">
          "Education has never been just about learning certain subjects and
          doing well in exams; rather it is a peek into the way of life and a
          powerful tool which can conquer great accomplishments"
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img
          class="w-6 h-6 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
          alt="profile picture"
        />
        <div
          class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700"
        >
          <div class="pr-3 font-medium text-gray-900 dark:text-white">
            Micheal Gough
          </div>
          <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">
            Dean Academic
          </div>
        </div>
      </figcaption>
    </figure>

    <p class="text-md mt-16">
      Education has never been just about learning certain subjects and doing
      well in exams; rather it is a peek into the way of life and a powerful
      tool which can conquer great accomplishments. Our prestigious institution
      strives to shape a generation that is capable to take up on the challenges
      put forward by the modern world. We have always tried to inculcate
      divergent thinking and creativity among our students. The Digital magazine
      crafted by the Department of Information Technology will truly help unfold
      a wide spectrum of creative skills. The magazine is not only just a result
      of the strenuous efforts of the editorial board and students but also the
      committed and supportive management and staff. It is truly an achievement
      worth emulating. I offer my well wishes to the department and hope to see
      more of such contributions.
    </p>
  </div>
</section>

<section class="bg-white dark:bg-gray-900 mt-2">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
    <figure class="max-w-screen-md mx-auto">
      <svg
        class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600"
        viewBox="0 0 24 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
          fill="currentColor"
        />
      </svg>
      <blockquote>
        <p class="text-2xl font-medium text-gray-900 dark:text-white">
          "I am extremely proud to lead the Information Technology Department at
          Amal Jyothi College of Engineering. Our department is dedicated to
          providing students with the knowledge and skills necessary to succeed
          in the ever-evolving field of technology."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img
          class="w-6 h-6 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
          alt="profile picture"
        />
        <div
          class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700"
        >
          <div class="pr-3 font-medium text-gray-900 dark:text-white">
            Dr. Shiju George
          </div>
          <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">
            Head of the Department, Information Technology
          </div>
        </div>
      </figcaption>
    </figure>

    <p class="text-md mt-16">
      I am extremely proud to lead the Information Technology Department at Amal
      Jyothi College of Engineering. Our department is dedicated to providing
      students with the knowledge and skills necessary to succeed in the
      ever-evolving field of technology. Our faculty and staff work tirelessly
      to ensure that our students receive the best education possible and are
      well-prepared to tackle the challenges of the future. We are thrilled to
      introduce our IT department's first-ever digital magazine, XXXX. This
      magazine provides a platform for our students to showcase their creative
      potential and innovative thinking. The articles in this edition cover a
      wide range of topics, from academics to society and literature. I am
      confident that this magazine will not only inspire our students but also
      provide valuable insights for readers about the latest technology trends.
      We want to express my gratitude to the team that worked tirelessly to
      bring this magazine to life. From the student editor to each team member,
      their dedication and teamwork were truly impressive. This magazine would
      not have been possible without their hard work and commitment. I am
      excited to see what future editions of XXXX will bring and how our team
      will continue to collaborate to bring the best possible content to our
      readers.
    </p>
  </div>
</section>

<section class="bg-white dark:bg-gray-900 mt-2">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
    <figure class="max-w-screen-md mx-auto">
      <svg
        class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600"
        viewBox="0 0 24 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
          fill="currentColor"
        />
      </svg>
      <blockquote>
        <p class="text-2xl font-medium text-gray-900 dark:text-white">
          "It gives us immense joy and satisfaction to finally introduce our
          very own digital magazine “ITerno”. Just like the gods and the asuras
          churned the ocean of milk to extract the nectar, we have tried to
          churn out creativity from the mass of our students."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img
          class="w-6 h-6 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
          alt="profile picture"
        />
        <div
          class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700"
        >
          <div class="pr-3 font-medium text-gray-900 dark:text-white">
            Dr. Shiju George
          </div>
          <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">
            The Editorial team
          </div>
        </div>
      </figcaption>
    </figure>

    <p class="text-md mt-16">
      It gives us immense joy and satisfaction to finally introduce our very own
      digital magazine “ITerno”. Just like the gods and the asuras churned the
      ocean of milk to extract the nectar, we have tried to churn out creativity
      from the mass of our students. Amidst the busy schedule of a 4-month
      semester, with 3-exams, practicals and all those assignments and problem
      sheets that make you want to bang your head on the wall, we tend to lose
      track of all the other simpler things that we are capable of and the
      things that we could have been proud of. So this time we have made an
      attempt to bring out the talents concealed within our students. It
      publishes well-written technical and non-technical works . The content
      also includes artworks in the form of drawings, photography, etc. As you
      scan through, you will meet dedicated and talented students, in the pages
      of this issue. The budding talents of our department have expressed their
      ideas and talents in a very creative way. A lot of effort has gone into
      the making of it. We hope you enjoy reading “ITerno”.
    </p>
  </div>
</section>

{{ end }}
